/* ComingSoon.css */
.coming-soon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .coming-soon-container h1 {
    font-size: 4rem;
    color: #007aff;
    margin-bottom: 20px;
  }
  
  .coming-soon-container p {
    font-size: 1.5rem;
    color: #333;
  }
  